<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Siapa di sini yang namanya PAJERO?</h1>
    <script>
      const fetching = () => {
        return fetch('/api/list-data')
          .then((response) => response.json())
          .then((response) => response.data);
      };

      window.addEventListener('load', async () => {
        const data = await fetching();
        console.log(data);
      });
    </script>
  </body>
</html>
